.modal {
    position: fixed;
    left: 15%;
    width: 70%;
    top: 10%;
    background-color: white;
    border: 1px solid darkgrey;
    box-shadow: 1px 1px 1px 1px;
    box-sizing: border-box;
    z-index: -100;
    transition: 0.4s;
    padding: 20px;
}