.link a:hover {
    color: rgb(189, 189, 189);
}
@media (max-width: 768px) {
    .active {
        background-color: rgb(175, 105, 0);
    }
    .link {
        cursor: pointer;
        line-height: 46px;
        width: max-content;
        display: block;
        width: 100%;
        margin: 0px 5px;
    }

    .link a {
        padding: 0 10px;
        display: block;
        height: 46px;
        text-decoration: none !important;
        color: white;
        text-align: right;
    }
}
@media (min-width: 769px) {
    .active {
        background-color: rgb(175, 105, 0);
        border-bottom: 2px solid rgb(0, 81, 255);
    }
    .link {
        cursor: pointer;
        line-height: 46px;
        width: max-content;
        display: inline-block;
        margin: 0px 5px;
    }

    .link a {
        padding: 0 10px;
        display: block;
        height: 46px;
        text-decoration: none !important;
        color: white;
    }
}
