.header {
    position: relative;
    height: 46px;
    background-color: rgb(138, 83, 0);
    color: white;
    text-align: center;
    margin-bottom: 20px;
}

.mobile {
    display: none;
}

.navigationItems {
    float: right;
}

@media (max-width: 768px) {
    .mobile {
        float: left;
        line-height: 46px;
        margin-left: 10px;
        cursor: pointer;
        display: block;
        color: white ;
    }
    .navigationItems {
        display: none;
    }
}
