.slider {
    width: 60%;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    background-color: rgb(138, 83, 0);
    z-index: 999;
    padding: 10px;
}

.closebtn {
    float: right;
    font-size: 15pt;
    cursor: pointer;
    color: white;
}
.closebtn:hover{
    color: rgb(218, 218, 218);
}
